In [12]:
import os, glob, time, operator
import json
import pandas as pd
import codecs
import geopandas as gp
from geopandas.tools import sjoin
from datetime  import datetime
from pandas.util.testing import isiterable
import random

from zip_results2 import get_pois

In [13]:
pois = get_pois()

In [3]:
df = gp.read_file('../data/zipped_banks_005f.geojson')

In [5]:
df.head(3)

,address,bankomat_adapt,brail,dist_button,geometry,idxColor,info,name,office_id,pandus,...,reg_score,score,shop_intersect,sound,type,us_disabled,us_visual,vis_rasmetka,visual,vsp
0,"г. Зеленоград, 315",0,0,0.0,POINT (37.21603 55.99976),low,0,ВСП 7954/1110,2378,0.0,...,100.55,15.23,0,0,Отделение,0,0,1,0,ВСП 7954/1110
1,"г. Зеленоград, 1561Б",0,0,0.0,POINT (37.15092 55.97786),low,0,ВСП 7954/1559,2387,0.0,...,64.35,10.98,0,0,Отделение,0,0,1,0,ВСП 7954/1559
2,"г.Москва, ул.Смольная, д.7",0,0,0.0,POINT (37.49934 55.84571),below-average,0,Доп.офис №9038/01150,230,0.0,...,181.25,26.40,0,0,Отделение,0,0,1,0,Доп.офис №9038/01150

In [11]:
df.sort_values('score', ascending=False).head(5)

,address,bankomat_adapt,brail,dist_button,geometry,idxColor,info,name,office_id,pandus,...,reg_score,score,shop_intersect,sound,type,us_disabled,us_visual,vis_rasmetka,visual,vsp
2001,"г. Москва,Проспект Свободный 33",0,0,NaN,POINT (37.819425 55.752636),high,0,Банкомат 650128,2060,NaN,...,316.10,100.00,1,0,Банкомат,0,0,1,0,Банкомат 650128
2201,"г. Москва,Улица Паромная 7 1",0,0,NaN,POINT (37.761851 55.638089),high,0,Банкомат 776238,2267,NaN,...,135.10,96.35,0,0,Банкомат,0,0,1,0,Банкомат 776238
2026,"г. Москва,Улица Фестивальная 13корпус 1",0,0,NaN,POINT (37.477381 55.85578),high,0,Банкомат 582794,2086,NaN,...,110.65,93.57,1,0,Банкомат,0,0,1,0,Банкомат 582794
802,"г. Москва, ул.Паромная, д. 11/31",0,0,0.0,POINT (37.763892 55.635582),high,0,Доп.офис №9038/01859,848,0.0,...,573.45,90.73,0,0,Отделение,0,0,1,0,Доп.офис №9038/01859
767,"г.Москва, Свободный проспект, 33",0,0,1.0,POINT (37.819256 55.753083),high,0,Доп.офис №9038/01158,809,1.0,...,302.35,86.03,1,0,Отделение,0,0,1,0,Доп.офис №9038/01158

In [28]:
df.sort_values('score', ascending=False).loc[:, ['name','raw_score', 'reg_score', 'score']].head(5)

                      name  raw_score  reg_score   score
2001       Банкомат 650128    3319.10     316.10  100.00
2201       Банкомат 776238    3198.10     135.10   96.35
2026       Банкомат 582794    3105.65     110.65   93.57
802   Доп.офис №9038/01859    3011.45     573.45   90.73
767   Доп.офис №9038/01158    2855.35     302.35   86.03

In [7]:
d = result
d.loc[d['score']==0, ['idxColor','label']]

           idxColor label
office_id
989             NaN   low
896             NaN   low
897             NaN   low
898             NaN   low
899             NaN   low
1436            NaN   low

In [15]:
pois1 = [508,837,943,31,4693,4717,4501,4904,4869,4900,4830,4695,4761,4716,4875,4738,4776,4956,4954,4502,4903,4743,4694,5254,4874,4902,4873,4901,4876,4737,4955,4692,6364,6372,7050,8673,8672,8667,8767,9080,9552,10352,10363,10643,508,837,943,4693,4717,4501,4904,4869,4900,4830,4875,4738,4776,4956,4954,4502,4903,4743,4694,5254,4874,8673,8672,8667,10363,10643]

In [18]:
len(pois1)

70

In [19]:
p = len(set(pois1))

44

In [27]:
pois.loc[set(pois1),'score'].astype(float).sum()

1910.0